asgiref==3.11.1
audioread==3.1.0
certifi==2026.4.22
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.7
decorator==5.3.1
Django==5.2.1
djangorestframework==3.16.0
idna==3.15
joblib==1.5.3
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.47.0
msgpack==1.1.2
numba==0.65.1
numpy==2.4.6
packaging==26.2
platformdirs==4.9.6
pooch==1.9.0
pycparser==3.0
python-dotenv==1.1.0
redis==7.4.0
requests==2.34.2
scikit-learn==1.8.0
scipy==1.17.1
sherpa-onnx-core==1.13.2
sherpa_onnx==1.13.2
soundfile==0.13.1
soxr==1.1.0
sqlparse==0.5.5
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
